@model IdentityUser
@using Microsoft.AspNetCore.Identity

<div style="margin:2rem 0 0 0; ">
    <h4>User Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <strong>User Name:</strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>
