@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="bodyContainer">
    <div class="container">
        <div class="firstContainer">
            <div class="secondContainer">
                <div class="rightContent">
                    <p style="font-size: 36px; margin: 2rem 0 10px 0; font-weight: 500">
                        Frequently Asked Questions(FAQs)
                    </p>
                    <p>
                        Welcome users and briefly explain the purpose of the FAQ
                        section.
                    </p>
                    <br />
                    <p style="
                  font-size: 18px;
                  margin-bottom: 10px;
                  font-weight: 600;
                  text-decoration: underline;
                ">
                        What is Caloracker about?
                    </p>
                    <p class="list">
                        Caloracker is a web-based platform designed to help you monitor
                        and manage your daily calorie intake. You can easily track the
                        foods you eat, set personalized calorie goals, and stay on top
                        of your nutritional intake.
                    </p>
                    <br />
                    <p style="
                  font-size: 18px;
                  margin-bottom: 10px;
                  font-weight: 600;
                  text-decoration: underline;
                ">
                        How do I create an account on Caloracker?
                    </p>
                    <div class="list">
                        <ol style="margin-left: 1rem">
                            <li>Visit our website at www.calotrack.com.</li>
                            <li>Click on the "Sign Up" button.</li>
                            <li>
                                Fill in the required information, including your email and a
                                secure password.
                            </li>
                            <li>
                                Complete the setup by providing some basic details like age,
                                weight, and activity level.
                            </li>
                            <li>
                                Confirm your account through the email verification sent to
                                your registered email address./li>
                            </li>
                        </ol>
                    </div>
                    <br />
                    <p style="
                  font-size: 18px;
                  margin-bottom: 10px;
                  font-weight: 600;
                  text-decoration: underline;
                ">
                        Can I track calories for multiple meals in a day?
                    </p>
                    <p class="list">
                        Absolutely! Caloracker allows you to log and monitor your
                        calories for breakfast, lunch, dinner, and snacks separately.
                        Simply add each meal to your daily log for a comprehensive
                        overview.
                    </p>
                    <br />
                    <p style="
                  font-size: 18px;
                  margin-bottom: 10px;
                  font-weight: 600;
                  text-decoration: underline;
                ">
                        What nutritional information can I track besides calories?
                    </p>
                    <p class="list">
                        In addition to calories, Caloracker enables you to track
                        essential nutritional elements such as carbohydrates, proteins,
                        fats, vitamins, and minerals. This provides a holistic view of
                        your dietary intake.
                    </p>
                    <br />
                    <p style="
                  font-size: 18px;
                  margin-bottom: 10px;
                  font-weight: 600;
                  text-decoration: underline;
                ">
                        Is there a mobile app for Caloracker?
                    </p>
                    <p class="list">Unfortunately, we don't have an app yet.</p>
                    <br />
                    <p style="
                  font-size: 18px;
                  margin-bottom: 10px;
                  font-weight: 600;
                  text-decoration: underline;
                ">
                        What should I do if I encounter technical issues with
                        Caloracker?
                    </p>
                    <p class="list">
                        f you experience technical issues, visit the "Help" section on
                        our website for troubleshooting tips. If the problem persists,
                        feel free to contact our support team at support@calotrack.com.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>