@page
@model RegisterModel


<div class="row mt-3">
    <div class="col-md-4" style="margin:0 0 0 3rem">
        <h1 style="margin:1rem 1rem 0 1rem; color:#b2b7bb">Register Caloracker</h1>
        <hr />
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Name" class="form-control" aria-required="true" placeholder="Name" />
                        <label asp-for="Input.Name">Name</label>
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Surname" class="form-control" aria-required="true" placeholder="Surname" />
                        <label asp-for="Input.Surname">Surname</label>
                        <span asp-validation-for="Input.Surname" class="text-danger"></span>
                    </div>
                </div>
            </div>           
            <div class="row g-2">
                <div class="col-md mb-3  form-floating">
                    <select asp-for="Input.EatingHabit" class="form-select" aria-label="Do you have any special eating habits?">
                        <option asp-validation-for="Input.EatingHabit" selected>Special eating habits?</option>
                        <option asp-validation-for="Input.EatingHabit" value="no">No</option>
                        <option asp-validation-for="Input.EatingHabit" value="GlutenFree">Gluten Free</option>
                        <option asp-validation-for="Input.EatingHabit" value="Vegetarian">Vegetarian</option>
                        <option asp-validation-for="Input.EatingHabit" value="Vegan">Vegan</option>
                    </select>
                </div>
                <div class="col-md mb-3 form-floating">
                    <select asp-for="Input.Target" class="form-select" aria-label="What is your target?">
                        <option asp-validation-for="Input.Target" selected>Your Target?</option>
                        <option asp-validation-for="Input.Target" value="LoseWeight">Lose Weight</option>
                        <option asp-validation-for="Input.Target" value="GainWeight">Gain Weight</option>
                        <option asp-validation-for="Input.Target" value="HealthyEating">Healthy Eating</option>
                        <option asp-validation-for="Input.Target" value="Vegan">Vegan</option>
                    </select>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-md">
                <div class="form-floating mb-3">
                        <input asp-for="Input.Weight" class="form-control" aria-required="true" placeholder="Weight" type="number" />
                    <label asp-for="Input.Weight">Weight</label>
                    <span asp-validation-for="Input.Weight" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating mb-3">
                        <input asp-for="Input.TargetWeight" class="form-control" aria-required="true" placeholder="Weight" type="number" />
                    <label asp-for="Input.TargetWeight">TargetWeight</label>
                    <span asp-validation-for="Input.TargetWeight" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating mb-3">
                    <input asp-for="Input.Height" class="form-control" aria-required="true" placeholder="Height" type="number" />
                    <label asp-for="Input.Height">Height</label>
                    <span asp-validation-for="Input.Height" class="text-danger"></span>
                </div>    
            </div>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.BirthDate" class="form-control" aria-required="true" placeholder="birthdate" type="date"/>
                <label asp-for="Input.BirthDate">BirthDate</label>
                <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
            </div>
            <select asp-for="Input.Gender" class="form-select form-select-lg mb-3" aria-label="Gender">
                <option asp-validation-for="Input.Gender" selected>Gender</option>
                <option asp-validation-for="Input.Gender" value="Female">Female</option>
                <option asp-validation-for="Input.Gender" value="Male">Male</option>
                <option asp-validation-for="Input.Gender" value="NonBinary">Non-binary</option>
            </select>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <img src="~/images/register.png" class="card-img-top" alt="register" style="margin:0 0 0 5rem;">
               
           
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
