* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    background-image: url(SignupBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.loginContainer {
    width: fit-content;
    padding: 4rem;
    margin: auto;
    margin-top: 3rem;
    padding-top: 10%;
}
/* .container2 {
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  padding: 0;
  margin: 0;
  overflow-y: scroll;

  width: 100%;
  height: 100%;
} */

.registerContainer {
    padding-left: 1rem;
    padding-right: 1rem;
}

.title {
    font-weight: 500;
    font-size: 2.1rem;
    text-align: center;
    color: rgb(84, 83, 83);
}

.brand {
    font-weight: 600;
    font-size: 2.6rem;
    margin-left: 6px;
    color: #4ca9ee;
    letter-spacing: 0.1px;
}

.inputContainer {
    margin-top: 2rem;
    padding-bottom: 0.2rem;
}

.inputRow {
    display: flex;
    flex-direction: row;
}

.second {
    margin-top: 1rem;
    padding-bottom: 0.1rem;
}

.basicInput {
    /* width: 400px; */
    width: 100%;
    height: 44px;
    border-radius: 0px !important;
    border: none;
    padding-left: 13px;
    border: 1px solid rgb(135, 132, 132) !important;
    transition: outline 0.1s linear;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0);
    border-radius: 0.4rem !important;
    position: relative;
    z-index: 2;
}

    .basicInput:focus {
        outline-width: 2.1px;
        outline-color: rgb(36, 36, 36);
    }

.basicInput3 {
    width: 49%;
    position: relative;
    z-index: 2;
}

.basicLeft {
    margin-left: 8px;
}

.buttonContainer {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.button {
    font-weight: 600;
    font-size: 1rem;
    width: 50%;
    height: 45px;
    color: white;
    border: 1px solid #4ca9ee;
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 0.4rem !important;
    background: #4ca9ee;
}

    .button:hover {
        background: rgb(76, 169, 238, 0.9);
        border: 1px solid #4ca9ee;
        transform: scale(1.02, 1.02);
    }

.button {
    width: 100%;
}

.signContainer {
    padding-top: 5%;
}

.accountQuestion {
    text-align: center;
    color: rgb(113, 112, 112);
    font-weight: 900;
}

.buttonSign {
    font-weight: 500;
    color: rgb(113, 112, 112);
    cursor: pointer;
    text-decoration: underline;
    transition: 0.1s;
}

    .buttonSign:hover {
        color: #4ca9ee;
    }
